<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/wines.css" />
    <script>var api_port={{api_port}};</script>
    <script type="text/javascript" src="../static/wines.js" defer></script>
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <style>
        #map {
        height: 600px;  /* The height is 600 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>

    <title>CS 257: Software Design, Fall 2018</title>

</head>

<body style="background: url(../static/images/blue.png) no-repeat center fixed; background-color: #f4c2c2">
    <div style="width: 100%;">
        <img src="../static/images/mrbill.png" alt="Mr. Bill's Wine Cellar" class="img-fluid" style="border-radius: 50px; width: 20%; object-position: center; display: block; margin: auto">
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Mr. Bill's!</a>
        <ul class="navbar-nav" style="align-items: center; width: 100%; justify-content: space-around">
            <li class="nav-item"><a href="#" id="go_to_home_page">Home</a></li>
            <li class="nav-item"><a href="#" id='go_to_discover_wine'>Discover Wine</a></li>
            <li class="nav-item"><a href="#" id="go_to_about_page">About</a></li>
            <li class="nav-item"><a href="mailto:washingtonj@carleton.edu
                ?cc=dalmeidad@carleton.edu
                &cc=kimcw2@carleton.edu
                &subject=From%20Wine%20Website" target="_blank">Email Us!</a></li>
            <li class="nav-item"><a href="#" id="go_to_advanced_search_page">Advanced Search</a></li>
            <li class="nav-item">
                <form class="form-inline" action="/display" method="GET">
                        <input type="text" class="form-control" placeholder="Search" id="search_bar" name="search_text">
                        <button type="submit" class="btn btn-default" id="submit_search">Submit</button>
                </form>
            </li>
        </ul>
    </nav>
    
    <div>
        <form action="/display">
            <ul style="list-style: none">
                <li class="form-inline">
                    <text class="adv_searcher">Variety: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="Pinot Grigio" id="varieties_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Taster Name: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="M Schachner" id="taster_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Region: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="Uco Valley" id="region_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Description: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="oaked" id="description_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Designation: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="Finca La Florencia" id="designation_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Country: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="France" id="country_search_bar">
                </li>
                <li class="form-inline">
                    <text class="adv_searcher">Title: </text>
                        <input type="text" class="form-control" style="width: 35%" placeholder="O. Fournier 2002 Spiga (Ribera del Duero)" id="title_search_bar">
                </li>
            </ul>
            <button type="submit" class="btn btn-default" style=": center" id="advanced_search_submit_button">Submit</button>
        </form>
    </div>
</body>
</html>
