<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">


    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wines.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='wines.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design, Spring 2017</title>

    <style>
.whoa {
    font-family: "Verdana", cursive, sans-serif;
    color: red;
    font-size: 250%;
}
    </style>
</head>


<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Mr. Bill's!</a>
    <ul class="navbar-nav" style="align-items: center; width: 100%; justify-content: space-around">
        <li class="nav-item"><a href="#" id="go_to_home_page">Home</a></li>
        <li class="nav-item"><a href="#discover_wine">Discover Wine</a></li>
        <li class="nav-item"><a href="/about" id="about">About</a></li>
        <li class="nav-item"><a href="mailto:washingtonj@carleton.edu
            ?cc=dalmeidad@carleton.edu
            &cc=kimcw2@carleton.edu
            &subject=From%20Wine%20Website" target="_blank">Email Us!</a></li>
        <li class="nav-item">
          <form class="form-inline" action="/display" method="GET">
                  <input type="text" class="form-control" placeholder="Search" id="search_bar" name="search_text">
                  <button type="submit" class="btn btn-default" id="submit_search">Submit</button>
          </form>
        </li>
    </ul>
</nav>

<div><p style="font-size:1000% ; padding-top:80px">Fill space here i want the wines thing on the next page</p></div>

<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>

<div id='discover_wine'>
  <a name='discover_wine'>Wine of the Day</a>
  <p>random_wine['country'] random_wine['description'] random_wine['designation'] random_wine['points']
     random_wine['price'] random_wine['province'] random_wine['taster_name'] random_wine['taster_twitter_handle']
     random_wine['title'] random_wine['variety'] random_wine['winery']</p>
</div>


<body>
    <h1>CS 257: Sample Web App</h1>

    <p><button id="authors_button">Get authors</button></p>

    <p><table id="results_table"></table></p>

    <p>This is a <span class="whoa">TERRIBLE</span>
        user interface. Do not copy it for your project!</p>

    <p><strong>Why is this page this way?</strong> Because I want to give you an example
    that illustrates the core techniques you'll need for your web application project,
    but does so in as minimal a way as possible. So you'll find a little HTML, a little CSS, a little
    Javascript, and access to a database-drive API, but nothing more. You can't even search for
    a book or author by name, which would be fundamental features if I actually wanted to
    make this application useful.</p>

  </body>
</html>
