<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">


    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wines.css') }}" />-->
    <link rel="stylesheet" type="text/css" href="../static/wines.css" />
    <script>var api_port = 5132;</script>
    <!--<script type="text/javascript" src="/static/wines.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='wines.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design, Spring 2017</title>

</head>

<body style="background: url(../static/images/blue.png) no-repeat center fixed; background-color: #f4c2c2">
    <div style="width: 100%;">
        <img src="../static/images/mrbill.png" alt="Mr. Bill's Wine Cellar" class="img-fluid" style="border-radius: 50px; width: 20%; object-position: center; display: block; margin: auto">
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Mr. Bill's!</a>
        <ul class="navbar-nav" style="align-items: center; width: 100%; justify-content: space-around">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#wine_of_the_day">Wine of the Day</a></li>
            <li class="nav-item"><a href="/about" id="about">About</a></li>
            <li class="nav-item"><a href="mailto:washingtonj@carleton.edu
                ?cc=dalmeidad@carleton.edu
                &cc=kimcw2@carleton.edu
                &subject=From%20Wine%20Website" target="_blank">Email Us!</a></li>
            <li class="nav-item">
                <form class="form-inline" action="/action_page.php">
                        <input type="text" class="form-control" placeholder="Search" id="search_bar">
                        <button type="submit" class="btn btn-default" id="submit_search"><a href="/submit_search"> Submit</a></button>
                </form>
            </li>
        </ul>
    </nav>

  <div id='wine_of_the_day' class="info_box">
    <!--<header name='wine_of_the_day' class='wine_of_the_day'>Discover Wine</header>
    <div class="left_box">
      <p class = "title">random_wine['title']</p>
      <p class = "variety">Variety: random_wine['variety']</p>
      <text class = "winery">Winery: random_wine['winery']</text>
      <text class = "place">(random_wine['region'], random_wine['province'], random_wine['country'])</text>
      <p class = "points">Points: random_wine['points']/100</p>
    </div>

    <div class="middle_box">
      <p class = "description">Review: random_wine['description'] </p>
      <text class = "taster_name">random_wine['taster_name']</text>
      <text class = "taster_twitter_handle">(random_wine['taster_twitter_handle')</text>
    </div>

    <div class = "right_box">
      <text class = "price">$ random_wine['price']</text>
    </div>-->
  </div>


  <p id='wine_of_the_day'></p>
</body>
</html>
