<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">


    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rough.css') }}" />
    <script>var api_port = {{ api_port }};</script>
  <!--  <script type="text/javascript" src="/static/books.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='rough2.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design, Spring 2017</title>

    <style>
.whoa {
    font-family: "Verdana", cursive, sans-serif;
    color: red;
    font-size: 250%;
}
    </style>
</head>

<body>
  <ul class="results" id="search_wrap">
    Your results...
  </ul>
</body>
</html>
